body{
   background-color: skyblue;
   
}
.container{
    background-color: white;
    width:100%;
    display: block;
    float: right;
    margin-bottom: 10px;
    height: 70vh;
    overflow: scroll;
}
.message{
    background-color: cornflowerblue;
    width:50%;
    padding:10px;
    margin:20px;
    border-radius: 10px;
    border: 2px solid black;
}
.left{
    float:left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#messageinput{
    width:75%;
    height: 24px;
}
.btn{
    width: 23.5%;
    cursor:pointer;
    height: 30px;
}
@media screen and (max-width: 820px) {
    .btn{
        width:20%;
        float: right;
    }
}
